{{- $driver := "kvm2" -}}
{{- if .machine.macos -}}
{{-   $driver = "hyperkit" -}}
{{- end -}}
{
  "container-runtime": "cri-o",
  "disk-size": "1g",
  "driver": "{{- $driver -}}",
  "memory": "1g"
}

