#!/usr/bin/env zsh
# set -x

# global nodejs version hash: {{ output "rtx" "ls" "-gp" "nodejs" | sha256sum }}
# ~/.default-pnpm-packages hash: {{ include "dot_default-pnpm-packages" | sha256sum }}
xargs -r pnpm add -g <~/.default-pnpm-packages
