#!/usr/bin/env zsh
set -u

# ~/.tool-versions python version: {{ output "asdf" "current" "python" | trim }}
# ~/.default-python-packages hash: {{ include "dot_default-python-packages" | sha256sum }}
python -bbOOum pip install -r ~/.default-python-packages
