#!/usr/bin/env zsh
# set -x

# global java version hash: {{ output "rtx" "ls" "-gp" "java" | sha256sum }}
# global scala version hash: {{ output "rtx" "ls" "-gp" "scala" | sha256sum }}
# ~/.default-coursier-packages hash: {{ include "dot_default-coursier-packages" | sha256sum }}
{{- $toolVersions := (fromToml (includeTemplate (joinPath .chezmoi.sourceDir "private_dot_config/rtx/config.toml.tmpl" ) .)).tools -}}
{{ if and $toolVersions.java $toolVersions.scala -}}
xargs -r cs install <~/.default-coursier-packages
{{ end -}}
