#!/usr/bin/env zsh
set -u

# ~/.tool-versions python version: {{ output "asdf" "current" "python" | trim }}
# ~/.default-pipx-packages hash: {{ include "dot_default-pipx-packages" | sha256sum }}
# ~/.default-pipx-injections hash: {{ include "dot_default-pipx-injections" | sha256sum }}
xargs -rL1 python -bbOOum pipx install -f --pip-args='--check-build-dependencies --compile --upgrade-strategy eager --use-pep517' <~/.default-pipx-packages
xargs -rL1 python -bbOOum pipx inject --pip-args='--check-build-dependencies --compile --upgrade-strategy eager --use-pep517' <~/.default-pipx-injections
