#!/usr/bin/env zsh
set -e
# set -x

# ~/.default-krew-plugins hash: {{ include "dot_default-krew-plugins" | sha256sum }}
kubectl krew index add kubectl-prof https://github.com/josepdcs/kubectl-prof || exit 0
kubectl krew update
kubectl krew install --no-update-index <~/.default-krew-plugins
kubectl krew upgrade --no-update-index
