#!/usr/bin/env zsh
# set -x

# global golang version hash: {{ output "mise" "ls" "-gp" "golang" | sha256sum }}
# ~/.default-golang-pkgs hash: {{ include "dot_default-golang-pkgs" | sha256sum }}
xargs -rxn1 go install -ldflags '-s -w' -race -trimpath -v <~/.default-golang-pkgs
