#!/usr/bin/env sh
# .Brewfile hash: {{ include "dot_Brewfile.tmpl" | sha256sum }}
brew bundle --global --no-lock
# .tool-versions hash: {{ include "dot_tool-versions.tmpl" | sha256sum }}
awk '{ print $1 }' ~/.tool-versions | xargs -rx -n1 asdf plugin-add
asdf install
