#!/usr/bin/env zsh
set -e
# set -x

# ~/.config/rtx/config.toml hash: {{ include "private_dot_config/rtx/config.toml.tmpl" | sha256sum }}
# Install Python with optimizations
PYTHON_CONFIGURE_OPTS='--enable-optimizations --with-lto' PYTHON_CFLAGS='-march=native -mtune=native' rtx install python
rtx install
rtx prune
