#!/usr/bin/env zsh
set -u;

# ~/.default-krew-plugins hash: {{ include "dot_default-krew-plugins" | sha256sum }}
kubectl krew update;
kubectl krew install --no-update-index <~/.default-krew-plugins;
kubectl krew upgrade --no-update-index <~/.default-krew-plugins;
