#!/usr/bin/env zsh
set -u;

# ~/.tool-versions rust version: {{ output "asdf" "current" "rust" | trim }}
# ~/.default-cargo-packages hash: {{ include "dot_default-cargo-packages" | sha256sum }}
cargo install --locked cargo-binstall;
xargs -r cargo binstall -y --locked <~/.default-cargo-packages;
