#!/usr/bin/env zsh
set -u

# ~/.tool-versions rust version: {{ output "asdf" "current" "rust" | trim }}
# ~/.default-cargo-binary-packages hash: {{ include "dot_default-cargo-binary-packages" | sha256sum }}
# ~/.default-cargo-packages hash: {{ include "dot_default-cargo-packages" | sha256sum }}
rustup component add rust-analyzer
cargo install --locked cargo-binstall
xargs -r cargo binstall -y --locked <~/.default-cargo-binary-packages
xargs -rL1 cargo install --locked <~/.default-cargo-packages
