#!/usr/bin/env zsh
set -e
# set -x

# global python version hash: {{ output "mise" "ls" "-gp" "python" | sha256sum }}
# ~/.default-pipx-packages hash: {{ include "dot_default-pipx-packages" | sha256sum }}
# ~/.default-pipx-injections hash: {{ include "dot_default-pipx-injections" | sha256sum }}
xargs -rL1 python3 -bbOOum pipx install --pip-args='--check-build-dependencies --compile --upgrade-strategy eager --use-pep517' <~/.default-pipx-packages
xargs -rL1 python3 -bbOOum pipx inject --pip-args='--check-build-dependencies --compile --upgrade-strategy eager --use-pep517' <~/.default-pipx-injections
python3 -bbOOum pipx upgrade-all --include-injected
