#!/usr/bin/env zsh
set -u

# ~/.tool-versions rust version: {{ output "asdf" "current" "rust" | trim }}
# ~/.default-cargo-packages hash: {{ include "dot_default-cargo-packages" | sha256sum }}
test "$(command -v cargo-binstall)" || cargo install --locked cargo-binstall
<~/.default-cargo-packages xargs -rL1 cargo binstall --locked
