{{- $email := "" -}}
{{- $gitUserSigningKey := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}
{{- if hasKey . "git.user.signingkey" -}}
{{-   $gitUserSigningKey = .git.user.signingkey -}}
{{- else -}}
{{-   $gitUserSigningKey = promptString "[git] user.signingKey" -}}
{{- end -}}

{{- $personal := promptBool "personal" -}}
{{- $work := promptBool "work" -}}

{{- $macOS := eq .chezmoi.os "darwin" -}}

encryption = "age"
sourceDir = {{ joinPath .chezmoi.homeDir ".dotfiles" | quote }}

[age]
identity = "~/key.txt"
recipient = "age14x4ptx2a6tmudhx4t89r9xzxjkqmcaf36q8rkvh9mqwetl0sc9sqrqqe6k"

[data]
name = "Siddhesh Mhadnak"
email = {{ $email | quote }}

[data.machine]
personal = {{ $personal }}
work = {{ $work }}
macos = {{ $macOS }}

[data.git]
user.signingkey = {{ $gitUserSigningKey | quote }}

[diff]
exclude = ["externals", "scripts"]
pager = "delta"

[merge]
command = "nvim"
args = ["-d"]
