[submodule "oh-my-zsh"]
    path = oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh

[submodule "vim_runtime"]
    path = vim_runtime
    url = https://github.com/le-idiot/vimrc

[submodule "YouCompleteMe"]
    path = vim_runtime/sources_non_forked/YouCompleteMe
    url = https://github.com/Valloric/YouCompleteMe
