# vim: ft=ruby
tap "homebrew/bundle"
tap "homebrew/core"
tap "hashicorp/tap"

brew "age"
brew "asdf"
brew "awscli"
brew "bat"
brew "bottom"
brew "broot"
brew "cdktf"
brew "chezmoi"
brew "dog"
brew "duf"
brew "dust"
brew "efm-langserver"
brew "exa"
brew "fd"
brew "fzf"
brew "gh"
brew "git-delta"
brew "git-extras"
brew "gitui"
brew "glab"
brew "golangci-lint"
brew "gum"
brew "hadolint"
brew "helm"
brew "ipcalc"
brew "jq"
brew "just"
brew "k6"
brew "ldns"
brew "lnav"
brew "lua-language-server"
brew "miller"
brew "mongosh"
brew "nushell"
brew "openapi-generator"
brew "prettyping"
brew "ripgrep"
brew "rust-analyzer"
brew "scrcpy"
brew "shellcheck"
brew "shfmt"
brew "sk"
brew "sops"
brew "starship"
brew "terraform"
brew "terraform-docs"
brew "terraform-ls"
brew "tflint"
brew "tfsec"
brew "xh"
brew "xsv"
brew "yq"
brew "zellij"
brew "zoxide"

{{- if .machine.macos }}
# macOS-specific
tap "homebrew/cask"
tap "homebrew/services"

brew "bash"
brew "colima"
brew "docker"
brew "docker-compose"
brew "coreutils"
brew "curl"
brew "git"
brew "gnupg"
brew "htop"
brew "less"
brew "libqalculate"
brew "mas"
brew "moreutils"
brew "ncdu"
brew "neovim"
brew "pinentry-mac"
brew "postgresql@14"
brew "rename"
brew "tmux"
brew "watch"
brew "zsh"

cask "alacritty"
cask "bitwarden"
cask "discord"
cask "firefox"
cask "iterm2"
cask "google-cloud-sdk"
cask "jetbrains-toolbox"
cask "notion"
cask "vscodium"
cask "wezterm"

# mas "Tailscale", id: 1475387142
{{-    if .machine.work }}
tap "homebrew/cask"
tap "coursier/formulas"

brew "coursier"
brew "librdkafka"
brew "openjdk" # Required by coursier

cask "amazon-chime"
cask "microsoft-office"
cask "microsoft-teams"
cask "pritunl"
cask "quip"
cask "redisinsight"
cask "slack"
cask "zoom"
{{-    end }}
{{- end }}
