audit = false
cafile = ${HOME}/.local/share/ca-bundle.crt
fund = false
init-author-email = {{ .email }}
init-author-name = {{ .name }}
init-license = MIT
sign-git-commit = true
sign-git-tag = true
update-notifier = false
