[settings]
asdf_compat = false
experimental = true
trusted_config_paths = ['~/.config/rtx']

[tools]
bun = 'latest'
deno = 'latest'
golang = 'latest'
kubectl = ['latest', 'sub-0.1:latest', 'sub-0.2:latest', 'sub-0.3:latest']
nodejs = ['latest', 'lts']
python = ['latest', 'sub-0.1:latest', 'sub-0.2:latest']
ruby = 'latest'
rust = 'stable'
stylua = 'latest'
{{ if .machine.work -}}
java = ['graalvm-community-21', 'graalvm-community-17']
maven = 'latest'
scala = 'latest'
{{ end -}}
