[user]
	name = {{ .name }}
	email = {{ .email }}
	signingKey = {{ .git.user.signingKey }}
	useConfigOnly = true

[color]
	ui = true

[commit]
	gpgSign = true

[diff]
	colorMoved = true
	external = difft

[feature]
	experimental = true
	manyFiles = false

[fetch]
	prune = true
	pruneTags = true

[gpg]
	program = {{ output "which" "gpg" | trim }}

[init]
	defaultBranch = main
	defaultRefFormat = files  # unset after git 3.0

[merge]
	tool = nvimdiff

[mergetool]
	keepBackup = false

[pull]
	rebase = false
	ff = on

{{ if .machine.personal -}}
[sendemail]
	smtpServer = smtp-mail.outlook.com
	smtpUser = {{ .email }}
	smtpEncryption = starttls
	smtpServerPort = 587
{{ end -}}

[tag]
	forceSignAnnotated = true
	gpgSign = true

{{ if .machine.work -}}
[url "git@ssh.dev.azure.com:v3"]
	insteadOf = https://dev.azure.com
{{ end -}}
