#!/usr/bin/env zsh
fm() {
    local cwd_file
    cwd_file="$(mktemp -t "yazi-cwd.XXXXXX")"

    env yazi --cwd-file "$cwd_file" $@

    local cwd
    if cwd="$(command cat -- "$cwd_file")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
        builtin cd -- "$cwd"
    fi

    rm -f -- "$cwd_file"
}

least() {
    local command
    command=$(printf ' %q' "$@")
    (trap '' SIGINT; eval "${command}") | eval "${PAGER} -b -1 +F"
}

{{ if .machine.work -}}
clickhouse-client() {
    docker run -it --rm \
        --entrypoint clickhouse-client \
        --env TERM \
        --volume "${HOME}/.clickhouse-client-history":/root/.clickhouse-client-history \
        clickhouse/clickhouse-server:23.8 --host host.docker.internal "$@"
}

ado_repos() {
    az devops project list --query 'value[].id' \
        | jq -r '.[]' \
        | xargs -rxn1 az repos list --query '[].{name: name, sshUrl: sshUrl, webUrl: webUrl}' -p \
        | jq -r '.[] | "\(.name): \(.webUrl) (remote: \(.sshUrl))"'
}
{{ end -}}
