"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
email = '{{ .email }}'
name  = 'Siddhesh Mhadnak'

[core]
fsmonitor = 'watchman'

  [core.watchman]
  register-snapshot-trigger = true

[git]
auto-local-bookmark  = false
private-commits      = 'description(glob:"stash:*") | description(glob:"wip:*")'
push-bookmark-prefix = 'sid/push-'

[signing]
backend  = 'gpg'
behavior = 'own'
key      = '{{ .email }}'

[ui]
default-command = 'log'
diff-editor     = ':builtin'
diff-formatter  = ['difft', '--color=always', '--sort-paths', '$left', '$right']
merge-editor    = ':builtin'
pager           = ':builtin'

[merge-tools.vimdiff]
diff-invocation-mode = 'file-by-file'
