#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
email = '{{ .email }}'
name  = 'Siddhesh Mhadnak'

[fsmonitor]
backend = 'watchman'

  [fsmonitor.watchman]
  register-snapshot-trigger = true

[git]
private-commits             = 'description(glob:"stash:*") | description(glob:"wip:*")'
templates.git_push_bookmark = '"sid/push-" ++ change_id.short()'

[remotes.origin]
auto-track-bookmarks = "sid/*"

[signing]
backend  = 'gpg'
behavior = 'own'
key      = '{{ .email }}'

[ui]
default-command = 'log'
diff-editor     = ':builtin'
diff-formatter  = ['difft', '--color=always', '--sort-paths', '$left', '$right']
merge-editor    = ':builtin'
pager           = ["sh", "-c", "exec ${PAGER:-less -FRX}"]

[merge-tools.vimdiff]
diff-invocation-mode = 'file-by-file'
