#!/usr/bin/env zsh
least() {
    local command;
    command=$(printf ' %q' "$@");
    (trap '' SIGINT; eval "${command}") | eval "${PAGER} -b -1 +F";
}

{{ if and .machine.macos .machine.work -}}
vpn() {
    local command;
    command=$1;
    shift;
    # echo >&2 "Command: ${command}";

    case "$command" in
        start | stop | enable | disable | remove | logs)
            local profile_name;
            profile_name=$1;
            shift;
            # echo >&2 "Profile Name: ${profile_name}";

            local profiles;
            profiles="$(pritunl-client list -j | jq -c '[.[] | {id: .Id} + (.Name | capture("\\((?<name>.*)\\)"))]')";
            local profile_id;
            profile_id="$(echo "${profiles}" | jq -cr "[.[] | select(.name == \"${profile_name}\")] | first | .id")";
            # echo >&2 "Profile ID: ${profile_id}";

            pritunl-client $command $profile_id $@;
            ;;

        *) pritunl-client $command $@ ;;
  esac
}
{{ end -}}
