[General]
checkForUpdates=false
contrastOpacity=51
disabledTrayIcon=true
drawColor=#f44336
drawRectangleSize=3
filenamePattern=%F_%T
saveAsFileExtension=png
savePath={{ .chezmoi.homeDir }}/Pictures/Screenshots
savePathFixed=false
showStartupLaunchMessage=false
startupLaunch=true
uiColor=#00b8ff
userColors=picker, #03a9f4, #f44336

[Shortcuts]
TAKE_SCREENSHOT=Ctrl+Shift+X
