---
# yaml-language-server: $schema=https://github.com/derailed/k9s/raw/master/internal/config/json/schemas/k9s.json

k9s:
  # Enable periodic refresh of resource browser windows.
  liveViewAutoRefresh: true

  # This setting allows users to specify the default view.
  defaultView: dp

  ui:
    # Enable mouse support.
    enableMouse: true

    # Hide the k9s header.
    headless: true

    # Hide the k9s logo.
    logoless: true

    # Disable the splash screen on startup.
    splashless: true

    # Enable reactive UI.
    reactive: true

    # This assumes the file `skins/<skin>.yaml` is present in the `$XDG_DATA_HOME/k9s/skins` directory
    skin: transparent

    # Enable fullscreen on views like logs, yaml, details.
    defaultsToFullScreen: true

    # Display full GVR (group/version/resource) in views title.
    useFullGVRTitle: true

  # Disable check for the latest revision.
  skipLatestRevCheck: true

  # Provide shell pod customization, when `nodeShell` feature gate is enabled!
  shellPod:
    # The shell pod image to use.
    image: alpine:latest

    # The namespace to launch to shell pod into.
    namespace: utility

    # The resource limit to set on the shell pod
    limits:
      cpu: 100m
      memory: 100Mi

    # Enable TTY.
    tty: true

  # Logs configuration.
  logger:
    # Enable log line timestamp info.
    showTime: true
